* {
    background-color: black;
    text-align: center;
}

body{
    background-color: black;
    text-align: center;

}

.background{
    margin: 0%;
}

.image img {
    width: 100%;
    height: 100%;

}


.border{
    box-sizing: border-box;
    margin: 0px auto;
    width: 100%;
    background-color: grey;
    color: grey;
    padding: 1em;
    border: 0%;
    margin-bottom: 1em;
}

.products {
    grid-column: 1;

}

.products img {
    padding: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.5);
    margin: 1em;
}

.staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.staff img {
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-bottom: 0em;
}

.text {

    box-shadow: white 3px 3px 20px;
    margin-top: 0.1em;
    padding: 1em;
    padding-top:2em ;
    margin-top: -2em;
    margin-bottom: 4em;
    margin-left: 15em;
    margin-right: 15em;
    text-align: justify;
    color: white;
}

.popular {
    color: white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 4em;
    text-shadow: beige 1px 1px 10px;
    margin-bottom: 0.4em;


}

.slider {
    scroll-snap-align: center;
    display: flex;
    width: 50em;
    height: 40em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 28%;
    margin-right: 28%;
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.5), 0 0 80px rgba(255, 0, 255, 0.5);
}
  
.slider img {
    
    text-align: center;
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    box-shadow: black 4px 4px 40px;
}

.contenedor-c {
    color: white;
    text-align: center;
    text-shadow: beige 1px 1px 10px;
  }
  .cartel {
    width: 109px;
    height: 109px;
    padding: 10px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border: 3px solid white;
    border-radius: 5px;
    text-shadow: beige 1px 1px 10px;
  }
  .cartel>div{
    font-size: 50px;
    font-family: 'Chela One', sans serif;
    animation: fade 3s;
    line-height: 30px;
    margin-top: 5px;
    text-shadow: beige 1px 1px 10px;
  }
  .cartel>div>h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: beige 1px 1px 10px;
  }
  .h3 {
    bottom: 0;
    margin: 0 auto ;
    text-shadow: beige 1px 1px 10px;
  }
  .contenedor-c {
    margin-top: 3%;
    text-shadow: beige 1px 1px 10px;
  }
  .contenido-c {
    width: 80%;
    margin: 0 auto;
    border: 0px solid white;
    z-index: 10;
    text-shadow: beige 1px 1px 10px;
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 4.5rem;
  }
  .numeros {
    font-family: 'Chela one', sans-serif;
    font-size: 60px;
  }
  .responsivo1 {
    display: inline-block
  }
  .responsivo2 {
    display: inline-block
  }
  @media (max-width: 450px) {  
    .contenedor-c {
      margin-top: 15%;
    }
    .banner {
     margin-bottom: 30px; 
    }
    .cartel {
      height: 99px;
      width: 99px;
    }
    .cartel>div{
      font-size: 45px;
    }
    .cartel>div>h3 {
      font-size: 15px;
      margin-top: 0px;
    }
  }
  @keyframes fade {
      0%   {
        opacity: 0;
    }
      30%   {
        opacity: 0;
    }  
      100% {
        opacity: 1;
    }
  }

  .background-footer{
    background-color: #0d1117;
    box-sizing: border-box;
    margin: 0px auto;
    width: 100%;
    height: 30em;
    color: #0d1117;
    padding: 1em;
    border: 0%;
    margin-top: 1em;
}

.footer {
    background-color: #0d1117;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation-name: fade;
    animation-duration: 3s;
}

.footer-text{
    background-color: #0d1117;
    color: white;
    padding: 1em;
    text-align: justify;
    transition: .3s;
}